* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 30px;
}

ul {
  margin-bottom: 10px;
  list-style-type: none;
}

#gallery {
  flex-flow: row wrap;
}
/* ====== */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
